.listaContainer {
    margin: 10px;
    display: block;
    flex-direction: column;
}

.listaContainer table {
    border-collapse: collapse;
}

.listaContainer table thead {
    font-weight: bold;
}

.listaContainer tr, th, td {
    padding: 10px;
    border: 1px solid lightgray;
}

.listaContainer #buttonSpec {
    width: 100%;
}
